@import "variables.module.scss";

.footerContainer {
  background-color: $footer;
}

.footerWrapper {
  max-width: 928px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.titleContainer {
  .h3 {
    color: rgb(41, 50, 65);
    font-size: 30px;
    vertical-align: top;
  }
}
.contentContainer {
  display: flex;
  padding: 0.5rem;
  justify-content: column;
}
.navBar {
  display: flex;
  width: 525px;
  justify-content: space-around;
}
.iconColumn {
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 30px 28px;
}

.footerLink {
  display: flex;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 20px;
  font-weight: 300;
  line-height: 2rem;
  color: rgb(41, 50, 65);
  &:hover {
    color: white;
  }
}
