@import "variables.module.scss";

.footerContainer {
  background-color: $footer;
  display: flex;
  padding: 5%;
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  // padding: 2rem 1rem;
}

.titleContainer {
  .h3 {
    color: rgb(41, 50, 65);
    font-size: 30px;
    vertical-align: top;
  }
}
.navBar {
  display: flex;
  // width: 525px;
  justify-content: space-around;
  gap: 2rem;

  @media only screen and (max-width: 510px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // @media only screen and (max-width: 600px) {
  //   width: 500px;
  // }
}
.iconColumn {
  display: flex;
  width: 250px;
  justify-content: space-between;
  padding: 30px 28px;
  size: 50rem;
}

.footerLink {
  display: flex;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 20px;
  font-weight: 300;
  line-height: 2rem;
  color: rgb(41, 50, 65);
  &:hover {
    color: white;
  }
}
