@import "variables.module.scss";

.navContainer {
  // color: beige;
  background-color: $secondary-dark;
  position: fixed;
  width: 100vw; //viewport width
  z-index: 1;
  height: 50px;
}

.navWrapper {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  @media (max-width: 1200px) {
    margin: 0 2rem;
  }
}

.logo {
  display: flex;
  color: $primary-color;
  padding: 1rem 0rem;
}

.navOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 1rem 0rem;
  gap: 2rem;

  a:hover,
  a:active {
    color: $primary-color;
  }

  @media (max-width: 650px) {
    display: none;
  }
}

.hamburger {
  display: none;
  @media (max-width: 650px) {
    display: grid;
  }
}

.hamContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: $secondary-dark;
  @media (min-width: 650px) {
    display: none;
  }
}
.hamOption {
  margin: 1.5rem 2rem;
  list-style-type: none;
  font-size: 1.2rem;
  a:hover,
  a:active {
    color: $primary-color;
  }
}
