@import "variables.module.scss";

.navContainer {
  color: beige;
  background-color: $secondary-dark;
  position: fixed;
  width: 100vw; //viewport width
  z-index: 1;
  height: 50px;
}

.navWrapper {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  @media (max-width: 1200px) {
    margin: 0 2rem;
  }
  // @media (max-width: 400px) {
  //   // display: flex;
  //   width: 400px;
  // }
}

.logo {
  display: flex;
  color: $primary-color;
  padding: 1rem 0rem;
}

.navOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 1rem 0rem;
  gap: 2rem;

  @media (max-width: 650px) {
    display: none;
  }
}
.nav-options a:hover,
.nav-options a:active {
  color: $primary-color;
}

// @media (max-width: 890px) {
//   .nav-options {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin: 0 auto;
//   }
// }

// @media (max-width: 680px) {
//   .nav-options {
//     display: flex;
//   }
// }

.hamburger {
  display: none;
  @media (max-width: 650px) {
    display: flex;
  }
}
